DB_HOST=localhost
DB_PORT=5432
DB_NAME=terrarIA
DB_USER=postgres
DB_PASSWORD=tu_contrasena
DB_SCHEMA=public
DB_TABLE=turismo_municipal
DB_ATTRACTIONS_TABLE=atractivos_turisticos

ANIO_DEFAULT=2025
MUNICIPIO_DEFAULT=CALI
RUTA_SALIDA=outputs
